header {
    .logo_button_container {
        padding: 1.5rem;
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        
        button {
            background: none;
            border: none;
            z-index: 99;
        }
    }

    nav {
        .products_container {
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            display: none;
            border-radius: 1rem;
            padding: 1.5rem;
            background: #fff;
            flex-direction: column;
            gap: 1.5rem;
            position: absolute;
            top: .5rem;
            left: 0;
            right: 0;
            margin: auto;
            width: 90%;

            
            &.show {
                display: flex;
                animation: fade .2s;
                
                @keyframes fade {
                    0% { opacity: 0 }
                    100% { opacity: 1 }
                }
            }

            .products {
                color: #8898aa;
                font-weight: 600;
                font-size: .8rem;
            }

            .product {
                text-decoration: none;
                display: flex;
                align-items: flex-start;
                gap: .4rem;

                .text_wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: .4rem;
                    margin-top: .1rem;

                    p {
                        color: #0a263f;
                        font-weight: 700;
                        font-size: .9rem;

                        &.product_description {
                            color: #6c7d8c;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .nav-ul {
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 0;
        width: 75%;
        margin: auto;

        .logo_button_container {
            width: unset;
            padding: 0;

            button {
                display: none;
            }
        }

        nav {
            flex-grow: 1;

            .nav-ul {
                list-style-type: none;
                display: flex;
                gap: 1.5rem;

                .push_right {
                    margin-left: auto;
                }

                .toggle_products {
                    cursor: pointer;
                    border: none;
                    font-family: inherit;
                    color: #6c6c6c;
                    font-weight: 500;
                    font-size: 1rem;
                }

                a {
                    text-decoration: none;
                    color: #6c6c6c;
                    font-weight: 500;

                    &.toggle_products {
                        cursor: pointer;
                    }

                    &.try_for_free {
                        background-color: #133416;
                        color: #fff;
                        font-weight: 700;
                        padding: 1rem;
                        border-radius: .5rem;
                    }
                }
            }

            .products_container {
                width: 27.5rem;
                top: 6rem;
                right: 7.5rem;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    header {
        nav {
            .nav-ul {
                gap: 2.5rem;
            }
        }
    }
}