header {
    .logo_button_container {
        padding: 1.5rem;
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        
        button {
            background: none;
            border: none;
            z-index: 99;
        }
    }

    nav {

        .products_container {
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            display: none;
            border-radius: .5rem;
            padding: 1.5rem;
            background: #fff;
            flex-direction: column;
            gap: 1.5rem;
            position: absolute;
            top: .425rem;
            left: 0;
            right: 0;
            margin: auto;
            width: 90%;

            
            &.show {
                display: flex;
                animation: fade .2s;
                
                @keyframes fade {
                    0% { opacity: 0 }
                    100% { opacity: 1 }
                }
            }

            .products {
                color: #8898aa;
                font-weight: 600;
                font-size: .8rem;
            }

            .product {
                text-decoration: none;
                display: flex;
                align-items: flex-start;
                gap: .4rem;

                .text_wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: .4rem;
                    margin-top: .1rem;

                    p {
                        color: #0a263f;
                        font-weight: 700;

                        &.product_description {
                            color: #6c7d8c;
                            font-weight: 400;
                        }
                    }
                }
            }
            
        }

        .nav-ul {
            display: none;
        }
    }

}